# The commit message should be structured as follows:
# <type>[optional scope]: <description>
#
# [optional body]
#
# [optional footer(s)]
#
# more info: https://www.conventionalcommits.org/en/v1.0.0/#specification
#
#
# Examples
#
# feat: allow provided config object to extend other configs
# BREAKING CHANGE: `extends` key in config file is now used for extending other config files
# feat(backend)!: new feature with breaking change
# chore!: drop support for Node 6
