# Development

{% if database == 'edgedb' %}
## GEL Usage

### Migrations

Write yout own schemas then run `{{ frontend_toolchain }} migrate`.

If create more migrations without data migrations and not commited yet, squah migrations with: `gel migration create --squash`

{% endif %}
