import path from "node:path"
import { fileURLToPath } from "node:url"

import angularLint from "@angular-eslint/eslint-plugin"
import { includeIgnoreFile } from "@eslint/compat"
import markdown from "@eslint/markdown"
import jsStylistic from "@stylistic/eslint-plugin-js"
import tsStylistic from "@stylistic/eslint-plugin-ts"
import type { Linter } from "eslint"
import jsoncPlugin from "eslint-plugin-jsonc"
import prettierPluginConfig from "eslint-plugin-prettier/recommended"
import storybook from "eslint-plugin-storybook"
import tomlPlugin from "eslint-plugin-toml"
import unusedImportsPlugin from "eslint-plugin-unused-imports"
import yamlPlugin from "eslint-plugin-yml"
import { globalIgnores } from "eslint/config"
import globals from "globals"
import tslint from "typescript-eslint"

import tsconfig from "./tsconfig.base.json"

const __filename = fileURLToPath(import.meta.url)
const __dirname = path.dirname(__filename)
const gitignorePath = path.resolve(__dirname, ".gitignore")

export const PROJECT_ABBREV = "{{ project_abbrev }}"

export function flatten(configs: Linter.Config[]): Linter.Config {
    return configs.reduce((dst, curr) => {
        const { rules, ...others } = curr
        return { ...dst, ...others, rules: { ...dst.rules, ...rules } }
    }, {})
}

export function workspaceGlob(directory: string, pattern: string): string {
    const root = path.resolve(__dirname, directory)
    if (path.relative(root, process.cwd()).startsWith("..")) {
        return nglob(path.join(directory, pattern))
    } else {
        return pattern
    }
}

function nglob(g: string): string {
    return g.replace(/\\/g, "/")
}

// eslint-disable-next-line unused-imports/no-unused-vars
const allowFromTSConfig = Object.entries(tsconfig.compilerOptions.paths)
    .reduce<string[]>((dst, [_, v]) => {
        dst.push(...v.map(v => `!${v}`))
        dst.push(...v.filter(v => !/.+\..{2,5}$/.test(v)).map(v => `!${v.replace(/\/$/, "")}/**`))
        return dst
    }, [])
    .filter((v, i, a) => a.findIndex(value => value === v) === i)

// eslint-disable-next-line unused-imports/no-unused-vars
const gitIgnores = includeIgnoreFile(gitignorePath).ignores!

/* ! DO NOT EDIT ! */

export default [
    // XXX: Valamiért szerintem full bugos az unignore pattern, addig viszont jobb, ha nincs semmi ignorálva
    // https://github.com/eslint/eslint/issues/19471
    // {
    //     ignores: [...gitIgnores, ...allowFromTSConfig],
    //     name: "GIT / .gitignore"
    // },
    globalIgnores(["**/__generated__/", "**/generated"], "Ignore / generated"),
    {
        ...flatten(jsoncPlugin.configs["flat/prettier"]),
        name: "JSONC / prettier"
    },
    {
        ...flatten(yamlPlugin.configs["flat/prettier"]),
        name: "YAML / prettier"
    },
    {
        ...flatten(tomlPlugin.configs["flat/standard"]),
        name: "TOML / standard"
    },
    {
        ...flatten(markdown.configs.recommended),
        name: "Markdown / recommended",
        language: "markdown/gfm",
        processor: "markdown/markdown"
    },
    {
        name: "Markdown / code-blocks",
        files: ["**/*.md/**"],
        languageOptions: {
            parserOptions: {
                ecmaFeatures: {
                    impliedStrict: true,
                },
            },
        }
    },
    {
        ...prettierPluginConfig,
        name: "Prettier / common",
        files: ["**/*.{% from "macros.jinja" import eslint_extensions %}{{ eslint_extensions() }}"],
        ignores: ["**/*.toml"],
        rules: {
            ...prettierPluginConfig.rules,
            // TODO: miltiline ternary operators, is broken
            /* TODO:
            function updateImportsFromRoute(imports: Imports, relativeFrom: string, route: Route) {
                // why add leading ; in this case
                ; (Object.entries(route.traits) as Array<[RouteTrait, string]>)
                    .filter(([k]) => k !== RouteTrait.Component)
                    .forEach(([k, v]) => { })
            }
            */
            "prettier/prettier": [
                "warn",
                {
                    semi: false,
                    trailingComma: "none",
                    arrowParens: "avoid",
                    quoteProps: "consistent",
                    bracketSpacing: true,
                    bracketSameLine: true,
                    htmlWhitespaceSensitivity: "ignore",
                    embeddedLanguageFormatting: "auto",
                    experimentalTernaries: false,
                    experimentalOperatorPosition: "start",
                    plugins: ["@trivago/prettier-plugin-sort-imports"],

                    // IMPORT SORT
                    importOrderSeparation: true,
                    importOrderSortSpecifiers: true,
                    importOrderCaseInsensitive: true,
                    importOrderParserPlugins: ["typescript", "decorators-legacy"],
                    importOrderImportAttributesKeyword: "with",
                    importOrderGroupNamespaceSpecifiers: true,
                    importOrder: [
                        "^node:.*?",
                        "^@angular/",
                        "^rxjs",
                        "<THIRD_PARTY_MODULES>",
                        "^@{{ frontend_ns }}/*",
                        "^[./]"
                    ]
                }
            ]
        }
    },
    ...tslint
        .config({
            name: "Typescript / overrides",
            extends: [tslint.configs.strictTypeChecked, tslint.configs.stylisticTypeChecked],
            files: ["**/*.ts", "**/*.tsx"],
            plugins: {
                "@stylistic/js": jsStylistic,
                "@stylistic/ts": tsStylistic,
                "unused-imports": unusedImportsPlugin
            },
            languageOptions: {
                globals: globals.node,
                parserOptions: {
                    projectService: true
                    // tsconfigRootDir: import.meta.dirname,
                }
            },
            linterOptions: {
                reportUnusedDisableDirectives: "error",
                reportUnusedInlineConfigs: "error"
            },
            rules: {
                // COMMON
                "arrow-body-style": ["error", "as-needed"],
                "eqeqeq": ["error", "always", { null: "ignore" }],
                "yoda": ["error", "never", { exceptRange: true }],
                "no-alert": "error",
                "prefer-arrow-callback": "error",
                "no-empty": [
                    "error",
                    {
                        allowEmptyCatch: true
                    }
                ],

                "no-unused-vars": "off",
                "@typescript-eslint/no-unused-vars": "off",
                "unused-imports/no-unused-imports": "error",
                "unused-imports/no-unused-vars": [
                    "error",
                    {
                        vars: "all",
                        args: "after-used",
                        argsIgnorePattern: "^_",
                        caughtErrors: "all",
                        caughtErrorsIgnorePattern: "^ignore",
                        destructuredArrayIgnorePattern: "^_",
                        ignoreRestSiblings: true,
                        ignoreClassWithStaticInitBlock: true
                    }
                ],

                // JAVASCRIPT
                "@stylistic/js/max-len": ["warn", { code: 120 }],
                "@stylistic/js/quotes": ["error", "double", { avoidEscape: true, allowTemplateLiterals: true }],

                // TYPESCRIPT
                "@stylistic/ts/quotes": ["error", "double", { avoidEscape: true, allowTemplateLiterals: true }],
                "@stylistic/ts/quote-props": ["error", "consistent-as-needed"],

                "@typescript-eslint/no-explicit-any": "off",
                "@typescript-eslint/no-non-null-assertion": "off",
                "@typescript-eslint/no-for-in-array": "error",
                "@typescript-eslint/no-extraneous-class": "off",
                "@typescript-eslint/no-unnecessary-type-parameters": "off",
                "@typescript-eslint/no-confusing-void-expression": [
                    "error",
                    {
                        ignoreArrowShorthand: true,
                        ignoreVoidOperator: true
                    }
                ],
                "@typescript-eslint/array-type": [
                    "error",
                    {
                        default: "array-simple",
                        readonly: "generic"
                    }
                ],
                "@typescript-eslint/prefer-optional-chain": [
                    "error",
                    {
                        allowPotentiallyUnsafeFixesThatModifyTheReturnTypeIKnowWhatImDoing: false,
                        requireNullish: true
                    }
                ],
                "@typescript-eslint/restrict-template-expressions": [
                    "error",
                    {
                        allowNumber: true,
                        allowBoolean: true,
                        // Tricky, maybe a bug, but without this option, not accept this:
                        // const key: "key-name1" | "key-name2" = "key-name1"
                        // const tpl = `something: ${key}`
                        allowNever: true
                    }
                ],
                "@typescript-eslint/no-unnecessary-condition": [
                    "error",
                    {
                        allowConstantLoopConditions: "only-allowed-literals"
                    }
                ],
                "@typescript-eslint/unbound-method": [
                    "error",
                    {
                        ignoreStatic: true
                    }
                ]
            }
        })
        .map(value => {
            const parts = value.name!.split(/\s*\/\s*/)
            value.name = `${parts[0]} / ${parts[parts.length - 1]}`
            return value
        }),
    {% if storybook -%}
    {
        name: "Storybook / ignore",
        ignores: ["!.storybook"]
    },
    ...storybook.configs["flat/recommended"].filter(v => v.name !== "storybook:recommended:main-rules").map(v => {
        const name = (name => {
            switch (name) {
                case "storybook:recommended:setup":
                    return "Storybook / setup"
                case "storybook:recommended:stories-rules":
                    return "Storybook / stories"
                case "storybook:recommended:main-rules":
                    return "Storybook / main"
            }
            return name
        })(v.name)
        return { ...v, name }
    }),
    {
        name: "Storybook / main",
        files: ["**/.storybook/main.@(js|cjs|mjs|ts)"],
        rules: {
            "storybook/no-uninstalled-addons": [
                "error",
                {
                    packageJsonLocation: path.join(__dirname, "package.json")
                }
            ]
        },
    },
    {%- endif %}
    {% if frontend == "angular" -%}
    {
        name: "Angular / common",
        files: [workspaceGlob("angular", "**/*.ts")],
        plugins: {
            "@angular-eslint": angularLint
        },
        languageOptions: { globals: globals.browser },
        rules: {
            ...angularLint.configs.all.rules,
            "@angular-eslint/component-selector": [
                "error",
                {
                    type: "element",
                    prefix: PROJECT_ABBREV,
                    style: "kebab-case"
                }
            ],
            "@angular-eslint/directive-selector": [
                "error",
                {
                    type: "attribute",
                    prefix: PROJECT_ABBREV,
                    style: "camelCase"
                }
            ],
            "@angular-eslint/pipe-prefix": [
                "error",
                {
                    prefixes: [PROJECT_ABBREV]
                }
            ],
            "@angular-eslint/component-max-inline-declarations": "off",
            "@angular-eslint/no-input-rename": "off",
            "@angular-eslint/use-component-view-encapsulation": "off",
            "@angular-eslint/use-injectable-provided-in": "off",
            "@angular-eslint/component-class-suffix": "off"
        }
    },
    {%- endif %}
].filter((v, i, a) => a.findIndex(value => value.name === v.name) === i) as Linter.Config[]
