{
  "name": "{{ project_slug }}",
  "version": "0.0.1",
  "private": true,
  "workspaces": [
    "{{ frontend }}/*"
  ],
  "devDependencies": {
    "@anrueg/templates": "github:anrueg/templates"
  }
}
