start: >-
  cross-env
  ENVIRONMENT=development
  moon run :start

build:development: >-
  cross-env
  ENVIRONMENT=development
  moon run :build

build:production: >-
  cross-env
  ENVIRONMENT=production
  moon run :build

build:staging: >-
  cross-env
  ENVIRONMENT=staging
  moon run :build

{% if database == 'gel' -%}
migrate: >-
  gel migration apply
  && (gel migration create && gel migration apply) || exit 0
{%- endif %}

{% if storybook -%}
ss: >-
  moon run :storybook
{%- endif %}
