start: >-
  cross-env
  ENVIRONMENT=development
  moonx :start

build:development: >-
  cross-env
  ENVIRONMENT=development
  moonx :build

build:production: >-
  cross-env
  ENVIRONMENT=production
  moonx :build

build:staging: >-
  cross-env
  ENVIRONMENT=staging
  moonx :build

{% if database == 'gel' -%}
migrate: >-
  gel migration apply
  && (gel migration create && gel migration apply) || exit 0
{%- endif %}

{% if storybook -%}
ss: >-
  moonx :storybook
{%- endif %}
