{
    "extends": "./tsconfig.base.json",
    "compilerOptions": {
        "lib": ["ESNext"],
        "target": "ESNext",
        "module": "ESNext",
        "moduleDetection": "force",
        "noEmit": true,
        "allowImportingTsExtensions": true
    }
}
