{
  "compileOnSave": false,
  "compilerOptions": {
    "moduleResolution": "bundler",
    "allowJs": true,
    "resolveJsonModule": true,
    "isolatedModules": false,
    "esModuleInterop": true,
    "verbatimModuleSyntax": true,
    "strict": true,
    "skipLibCheck": true,
    "skipDefaultLibCheck": true,
    "noUnusedLocals": true,
    "noImplicitReturns": true,
    "noImplicitOverride": true,
    "importHelpers": true,
    "noPropertyAccessFromIndexSignature": true,
    "useUnknownInCatchVariables": true,
    "rootDir": ".",
    "baseUrl": ".",
    "paths": {
        "@workspace/moon": [".moon/utils"],
        "@/*": ["${configDir}/*"]
        {%- if storybook -%},
        "@workspace/storybook": [".storybook/index.ts"]
        {%- endif %}
    }
  },
  "exclude": [
    "node_modules",
    "tmp"
  ]
}
