import base from "./eslint.config.base"
import type { Linter } from "eslint"
import globals from "globals"

export default [
    ...base,
    {
        files: ["**/*.ts", "**/*.tsx"],
        languageOptions: {
            globals: globals.node,
            parserOptions: {
                projectService: {
                    allowDefaultProject: ["*.ts"],
                }
            },
        },
    },
] satisfies Linter.Config[]
