[workspace]
members = ["{{ backend }}/*"]
exclude = ["{{ backend }}/.docker"]
resolver = "3"

[workspace.package]
version = "0.1.0"
edition = "2024"

[workspace.lints.rust]
# warnings = { level = "forbid" }

[workspace.lints.rustdoc]
# warnings = { level = "forbid" }

[workspace.lints.clippy]
# warnings = { level = "forbid" }

[workspace.dependencies]
dotenvy = { git = "https://github.com/allan2/dotenvy", features = [ "macros" ] }
bon = "*"
tracing = "*"
tracing-subscriber = "*"
tracing-opentelemetry = "*"
thiserror = "*"
miette = { version = "*", features = [ "fancy", "serde" ] }
serde = { version = "*", features = [ "derive" ] }
serde_json = "*"
derivative = "*"

# DI
# https://crates.io/crates/more-di
# https://crates.io/crates/shaku

