{
  "compileOnSave": false,
  "compilerOptions": {
    "moduleResolution": "bundler",
    "allowJs": true,
    "resolveJsonModule": true,
    "isolatedModules": false,
    "esModuleInterop": true,
    "verbatimModuleSyntax": true,
    "strict": true,
    "skipLibCheck": true,
    "skipDefaultLibCheck": true,
    "noUnusedLocals": true,
    "noImplicitReturns": true,
    "noImplicitOverride": true,
    "importHelpers": true,
    "noPropertyAccessFromIndexSignature": true,
    "rootDir": ".",
    "baseUrl": "."
  },
  "exclude": [
    "node_modules",
    "tmp"
  ]
}
