$schema: "https://moonrepo.dev/schemas/project.json"

id: "rust/config"

project:
  name: "{{ backend_ns | slug | replace("-", "_") }}_config"
  description: "Rust library: {{ backend_ns | slug | replace("-", "_") }}_config"
  metadata:
    folder: "{{ backend_ns | slug }}-config"
    slug: "config"

type: configuration
stack: backend
language: rust
tags: [rust, rust-config]
toolchain:
  default: rust
