{% macro abbrev(value) -%}
    {% set result = [] %}
    {%- for v in value -%}
        {%- if v.isupper() or (loop.index0 > 0 and value[loop.index0 - 1].isspace()) -%}
            {%- set x = result.append(v) -%}
        {%- endif -%}
    {%- endfor -%}
    {{ result | join }}
{%- endmacro %}


{% macro eslint_extensions(extra=None) -%}
{{ '{' }}ts,tsx,json,jsonc,json5,yml,yaml,toml,md{% if extra %},{{ extra }}{% endif %}{{ '}' }}
{%- endmacro %}


{% macro stylelint_extensions(extra=None) -%}
{{ '{' }}css,scss,sass,less{% if extra %},{{ extra }}{% endif %}{{ '}' }}
{%- endmacro %}
