{% from "macros.jinja" import eslint_extensions, stylelint_extensions %}
$schema: "https://moonrepo.dev/schemas/tasks.json"
extends: file://../../../wizard/angular/tasks.yml

fileGroups:
  sources:
    - "**/*.{ts,tsx,json,sass,scss,css,yml}"

  configs:
    - moon.yml
    - ng-config.json
    - ngsw-config.json
    - package.json
    - tsconfig.json
    - tsconfig.*.json
    - version.json

tasks:
  clean:
    script: {{ frontend_toolchain }} rimraf dist/angular/$projectName && {{ frontend_toolchain }} ng cache clean
    local: true
    options:
      runFromWorkspaceRoot: true

  lint:
    command: noop
    deps: ["~:eslint", "~:stylelint"]
    options:
      runDepsInParallel: false

  format:
    command: noop
    deps: ["~:eslint-fix", "~:stylelint-fix"]
    options:
      runDepsInParallel: false

  build:
    command: ng build
    args:
      - $projectName
      - --configuration=$PROJECT_ENV
    toolchain: {{ frontend_toolchain }}
    deps:
      - "^:build"
      - "~:build.pre"
    inputs:
      - /angular/$projectName/**/*.{{ eslint_extensions() }}
      - /angular/$projectName/**/*.{{ stylelint_extensions() }}
    outputs:
      - /dist/angular/$projectName
    options:
      runFromWorkspaceRoot: true
      runDepsInParallel: false

  build.pre:
    command: noop
    toolchain: {{ frontend_toolchain }}
    options:
      internal: true

  start.pre:
    command: noop
    toolchain: {{ frontend_toolchain }}
    deps:
      - "~:build.pre"
    options:
      internal: true
