$schema: "https://moonrepo.dev/schemas/tasks.json"

tasks:
  start:
    command: ng build --watch --configuration=development $projectName
    preset: server
    toolchain: {{ frontend_toolchain }}
    options:
      runFromWorkspaceRoot: true
    deps:
      - ^:start
