$schema: "https://moonrepo.dev/schemas/tasks.json"

tasks:
  start:
    command: {{ frontend_toolchain }} ng serve
    args:
      - $projectName
      - --configuration=$ENVIRONMENT
    preset: server
    toolchain: {{ frontend_toolchain }}
    deps:
      - ^:start
      - ~:start.pre
    options:
      runFromWorkspaceRoot: true
      cache: true

