$schema: "https://moonrepo.dev/schemas/tasks.json"

tasks:
  start:
    command: ng serve
    args:
      - $projectName
      - --configuration=$PROJECT_ENV
    preset: server
    toolchain: {{ frontend_toolchain }}
    deps:
      - ^:build
      - ^:start
      - ~:start.pre
    options:
      runFromWorkspaceRoot: true
      runDepsInParallel: false

