$schema: "https://moonrepo.dev/schemas/tasks.json"

tasks:
  .runner:
    extends: build
    args: [--watch]
    preset: server
    options:
      cache: true
      internal: true

  start:
    deps:
      - ^:start
      - ~:start.pre
      - ~:.runner
    options:
      runFromWorkspaceRoot: true
      runDepsInParallel: false

