$schema: "https://moonrepo.dev/schemas/toolchain.json"

{% if frontend_toolchain == "bun" -%}
bun:
    version: latest
    dependencyVersionFormat: workspace
    inferTasksFromScripts: false
    rootPackageOnly: true
    syncProjectWorkspaceDependencies: true
{%- endif  %}

node:
  packageManager: {{ frontend_toolchain }}
  dependencyVersionFormat: workspace
  inferTasksFromScripts: false
  rootPackageOnly: true
  syncProjectWorkspaceDependencies: true
  {{ frontend_toolchain }}:
    version: latest

typescript:
    createMissingConfig: true
    projectConfigFileName: tsconfig.json
    rootConfigFileName: tsconfig.projects.json
    rootOptionsConfigFileName: tsconfig.base.json
    routeOutDirToCache: false
    syncProjectReferences: false
    syncProjectReferencesToPaths: false
    includeProjectReferenceSources: false

rust:
    version: "stable"
    syncToolchainConfig: false
    bins:
        - cargo-nextest
        - watchexec-cli
