{
  "$schema": "../../node_modules/ng-packagr/ng-package.schema.json",
  "dest": "../../dist/angular/{{ name }}",
  "inlineStyleLanguage": "scss",
  "deleteDestPath": false,
  "lib": {
    "entryFile": "public-api.ts",
    "styleIncludePaths": [
        "../"
    ]
  }
}
