{
  "extends": "../tsconfig.base.json",
  "compilerOptions": {
    "outDir": "../../dist/out-tsc"
  },
  "files": [
    "./public-api.ts"
  ],
  "include": [
    "**/*.ts",
    ".storybook/**/*.ts"
  ],
  "angularCompilerOptions": {
    "compilationMode": "partial",
    "generateCodeForLibraries": true,
  }
}
