{
  "extends": "../tsconfig.base.json",
  "compilerOptions": {
    "outDir": "../../dist/out-tsc",
    "baseUrl": ".",
    "rootDir": "."
  },
  "files": [
    "src/public-api.ts"
  ],
  "angularCompilerOptions": {
    "compilationMode": "partial",
    "generateCodeForLibraries": true,
  }
}
