{
    "extends": "../tsconfig.base.json",
    "compilerOptions": {
        "target": "ES2022",
        "module": "ES2022",
        "lib": [
            "es2022",
            "dom"
        ],
        "sourceMap": true,
        "declaration": false,
        "experimentalDecorators": true
    },
    "angularCompilerOptions": {
        "enableI18nLegacyMessageIdFormat": false,
        "strictInjectionParameters": true,
        "strictInputAccessModifiers": true,
        "strictTemplates": true,
        "preserveWhitespaces": false,
        "enableResourceInlining": true
    }
}
