{%- from 'macros.jinja' import eslint_extensions -%}

$schema: "https://moonrepo.dev/schemas/project.json"

id: wizard
type: scaffolding
language: typescript
project:
  name: "Wizard"
  description: "Code generation templates"

fileGroups:
  eslint:
    - "**/*.{{ eslint_extensions() }}"
    - "/*.{{ eslint_extensions() }}"
    - "/angular/*.{{ eslint_extensions() }}"
    - "/.moon/**/*.{{ eslint_extensions() }}"
    - "!/.moon/cache/**/*"
    - "!*/templates/**/*"


{% macro generator_task(name, tpl, post, note) -%}
  "{{ name }}":
    description: "{{ note }}"
    script: moon generate {{ tpl }}{% if post -%} && moon run {{ post }}{% endif %} && moon :format --affected
    platform: system
    toolchain: system
    local: true
    options:
      runFromWorkspaceRoot: true
      interactive: true
{%- endmacro %}

tasks:
  {% if frontend == 'angular' -%}
  sync-angular:
    description: Sync angular configs from project & moon configs
    command: $taskToolchain wizard/angular/script/sync-config.ts
    toolchain: "{{ frontend_toolchain }}"
    inputs:
      - /angular/*/ng-config.json
    outputs:
      - /angular.json
      - /tsconfig.base.json
    options:
      runFromWorkspaceRoot: true
      mutex: wizard-sync-angular

  {{ generator_task('ng-app', 'angular-app', 'wizard:sync-angular', 'Add angular app') }}

  {{ generator_task('ng-lib', 'angular-lib', 'wizard:sync-angular', 'Add angular lib') }}
  {%- endif %}

  {% if backend == 'rust' -%}
  sync-rust:
    description: Sync rust configs from project & moon configs
    command: noop
    options:
      mutex: wizard-sync-rust

  {{ generator_task('rust-app', 'rust-app', 'wizard:sync-rust', 'Add rust app') }}

  {{ generator_task('rust-lib', 'rust-lib', 'wizard:sync-rust', 'Add rust lib') }}
  {%- endif %}

  format:
    command: noop
    deps: ["~:eslint-fix", "~:stylelint-fix"]
    options:
      runDepsInParallel: false

  moon-sync:
    command: moon sync projects
    local: true
    options:
      internal: true

  sync:
    command: moon :format
    local: true
    deps:
      {% if frontend == 'angular' -%}
      - sync-angular
      {%- endif %}
      {% if frontend == 'rust' -%}
      - sync-rust
      {%- endif %}
      - moon-sync
    options:
      runDepsInParallel: true
      runFromWorkspaceRoot: true
      mutex: wizard-sync-all
