$schema: "https://moonrepo.dev/schemas/template.json"

extends: ["configs"]
id: rust-axum
title: Rust axum server
description: Add rust axum server
destination: rust/{{ backend_ns | slug }}-[name | slugify]
variables:
  name:
    type: "string"
    required: true
    default: "server"
    prompt: "Application name?"
    order: 1
