tasks:
  lint:
    deps: ["~:eslint"]
    options:
      runDepsInParallel: false
      cache: false

  format:
    deps: ["~:eslint.fix"]
    options:
      runDepsInParallel: false
      cache: false
