$schema: "https://moonrepo.dev/schemas/tasks.json"


tasks:
  format-eslint:
    command: noop
    options:
      internal: true

  format-stylelint:
    command: noop
    options:
      internal: true

  format:
    command: noop
    deps:
      - ~:format-eslint
      - ~:format-stylelint
    options:
      runDepsInParallel: false

  lint-eslint:
    command: noop
    options:
      internal: true

  lint-stylelint:
    command: noop
    options:
      internal: true

  lint:
    command: noop
    deps:
      - ~:lint-eslint
      - ~:lint-stylelint
    options:
      runDepsInParallel: false

  flint:
    command: noop
