---
skip: {{ type == "application" }}
---
{% if preset == "config" %}
mod config;

pub mod prelude {
    pub use crate::config::*;
}
{% else %}
mod example;

pub mod prelude {
    pub use crate::example::*;
}
{% endif %}

pub use prelude::*;
