---
skip: {{ type == "application" }}
---
{% if preset == "initd" %}
mod component;
mod config;

pub mod prelude {
    pub use crate::component::*;
    pub use crate::config::*;
}
{% else %}
mod example;

pub mod prelude {
    pub use crate::example::*;
}
{% endif %}

pub use prelude::*;
