$schema: "https://moonrepo.dev/schemas/template.json"

extends: ["configs"]
id: rust-package
title: Rust package
description: Add rust package
destination: rust/[name | slugify]
variables:
  name:
    type: "string"
    required: true
    default: ""
    prompt: "Package name (without backend namaspace '{{ backend_ns }}')?"
    order: 1

  type:
    type: "enum"
    values:
      - application
      - library
      - configuration

  preset:
    type: "enum"
    default: common
    values:
      - common
      - axum
      - initd
      - macro
      - wasm
