$schema: "https://moonrepo.dev/schemas/project.json"

language: gel

project:
  name: dbschema
  description: "Database schema"

stack: backend
tags: [database, model]
type: configuration

fileGroups:
  sources:
    - "**/*.gel"

  migrations:
    - migrations/*.gel"

tasks:
  migrate:
    deps: [create-migration, apply-migration]
    options:
      runDepsInParallel: false

  create-migration:
    command: edgedb migration create
    options:
      runFromWorkspaceRoot: true
      internal: true

  apply-migration:
    command: edgedb migration apply
    options:
      runFromWorkspaceRoot: true
      internal: true

  _start:
    command: docker compose up edgedb --no-log-prefix
    local: true
    preset: server
    options:
      runFromWorkspaceRoot: true
      persistent: true
