$schema: "https://moonrepo.dev/schemas/template.json"

extends: ["configs"]
id: angular-app
title: Angular application
description: Add angular application
destination: angular/[name]
variables:
  name:
    type: "string"
    required: true
    default: "app"
    prompt: "Application name?"
    order: 1

  service_worker:
    type: "boolean"
    required: true
    default: true
    prompt: "Add service worker?"
    order: 2
