{
  "extends": "../tsconfig.base.json",
  "compilerOptions": {
    "outDir": "../../dist/out-tsc"
  },
  "files": [
    "./main.ts"
  ],
  "include": [
    "./**/*.ts",
    ".storybook/**/*.ts"
  ],
  "angularCompilerOptions": {
    "compilationMode": "full"
  }
}
