{
  "extends": "../tsconfig.base.json",
  "compilerOptions": {
    "outDir": "../../dist/out-tsc",
    "baseUrl": ".",
    "rootDir": "."
  },
  "files": [
    "./main.ts"
  ],
  "include": [
    "./**/*.ts"
  ],
  "angularCompilerOptions": {
    "compilationMode": "full"
  }
}
