import { ChangeDetectionStrategy, Component } from "@angular/core"

@Component({
    selector: "{{ project_abbrev }}-{{ name | lower }}",
    changeDetection: ChangeDetectionStrategy.OnPush,
    styles: [
        `
            :host {
                display: block;
            }
        `
    ],
    template: "<h1>It works!</h1>",
})
export class {{ name | title }}Component { }
