$schema: "https://moonrepo.dev/schemas/tasks.json"
extends: file://../../../wizard/rust/tasks.yml

tasks:
  clean:
    command: cargo clean -p $projectName
    toolchain: rust
    options:
      runFromWorkspaceRoot: true
      cache: false

  clippy:
    command: cargo clippy --no-deps -p $projectName -q
    toolchain: rust
    inputs:
      - "/Cargo.toml"
      - "/**/Cargo.toml"
      - "/**/*.rs"
    options:
      runFromWorkspaceRoot: true
      internal: true
      mutex: clippy

  clippy.fix:
    extends: clippy
    args:
      - --fix
      - --allow-dirty

  fmt:
    command: fmt -p $projectName -- --emit files
    toolchain: rust
    deps: [~:clippy.fix]
    inputs:
      - "/Cargo.toml"
      - "/**/Cargo.toml"
      - "/**/*.rs"
    options:
      runFromWorkspaceRoot: true
      internal: true
      mutex: rustfmt

  lint:
    extends: eslint
    toolchain: {{ frontend_toolchain }}
    deps: ["~:clippy"]
    options:
      cache: false
      internal: false

  format:
    extends: eslint.fix
    toolchain: {{ frontend_toolchain }}
    deps: ["~:fmt"]
    options:
      cache: false
      internal: false

#   cargo-recipe:
#     command: chef prepare --recipe-path cargo-recipe.json
#     toolchain: rust
#     inputs:
#       - rust/**/*
#       - .cargo/**/*
#       - Cargo.toml
#       - Cargo.lock
#     outputs:
#       - cargo-recipe.json
#     options:
#       runFromWorkspaceRoot: true
#       mutex: cargo-recipe

  test.doc:
    command: cargo test --doc --package=$projectName --features=doctest --profile=${ENVIRONMENT}
    toolchain: rust
    deps: [lint]
    options:
      runFromWorkspaceRoot: true
      mutex: rust-test
      outputStyle: stream
      cache: false

  test.unit:
    command: cargo test --package=$projectName --profile=${ENVIRONMENT}
    toolchain: rust
    deps: [lint]
    options:
      runFromWorkspaceRoot: true
      mutex: rust-test
      outputStyle: stream
      cache: false

  test:
    deps: [test.doc, test.unit]
    options:
      runFromWorkspaceRoot: true
      runDepsInParallel: false
      outputStyle: stream
      cache: false

