$schema: "https://moonrepo.dev/schemas/tasks.json"
extends: file://../../../wizard/rust/tasks.yml

fileGroups:
  sources:
    - "**/*.rs"

  configs:
    - Cargo.toml
    - /Cargo.toml

tasks:
  clean:
    command: cargo clean -p $projectName
    toolchain: rust
    local: true
    options:
      runFromWorkspaceRoot: true
      outputStyle: buffer-only-failure

  clippy:
    command: clippy -p $projectName -q
    args:
      - --
      - --no-deps
      - -Dwarnings
    toolchain: rust
    inputs:
      - "/$projectSource/**/*.rs"
      - "/$projectSource/Cargo.toml"
      - "/Cargo.toml"
    options:
      runFromWorkspaceRoot: true
      mergeArgs: prepend
      internal: true
      outputStyle: buffer-only-failure

  clippy-fix:
    extends: clippy
    args:
      - --fix
      - --allow-dirty

  fmt:
    command: fmt -p $projectName -- --emit files
    inputs:
      - "/$projectSource/**/*.rs"
      - "/$projectSource/Cargo.toml"
      - "/Cargo.toml"
    options:
      runFromWorkspaceRoot: true
      internal: true
      outputStyle: buffer-only-failure

  lint:
    command: noop
    deps: ["~:clippy", "~:eslint"]
    options:
      runDepsInParallel: false
      outputStyle: buffer-only-failure

  format:
    command: noop
    deps: ["~:fmt", "~:clippy-fix", "~:eslint-fix"]
    options:
      runDepsInParallel: false
      outputStyle: buffer-only-failure

