$schema: "https://moonrepo.dev/schemas/tasks.json"

tasks:
  builder:
    extends: compose.up
    args: [rust-builder]
    deps: [wizard:watcher]
    preset: server
    options:
      mutex: rust-builder
      internal: true
      cache: false

  start:
    extends: compose.up
    args: ["@meta(slug)"]
    deps: [builder]
    preset: server
    options:
      cache: false
      internal: false

