$schema: "https://moonrepo.dev/schemas/template.json"

extends: ["configs"]
id: rust-lib
title: Rust library
description: Add rust library
destination: rust/[name]
variables:
  name:
    type: "string"
    required: true
    prompt: "Library name?"
    order: 1
