{
    "recommendations": [
        "moonrepo.moon-console",
        "redhat.vscode-yaml",
        "editorconfig.editorconfig",
        "yoavbls.pretty-ts-errors"
        {%- if frontend != 'skip' -%},
        "dbaeumer.vscode-eslint",
        "stylelint.vscode-stylelint"
        {%- endif -%}
        {%- if frontend == 'angular' -%},
        "angular.ng-template",
        "ghaschel.vscode-angular-html"
        {%- endif -%}
        {%- if backend == 'rust' -%},
        "rust-lang.rust-analyzer",
        "tamasfe.even-better-toml",
        "swellaby.vscode-rust-test-adapter"
        {%- endif -%}
        {%- if database == 'gel' -%},
        "magicstack.edgedb"
        {%- endif -%}
        {%- if frontend_style_language == 'css' -%},
        "csstools.postcss"
        {%- endif -%}
        {%- if frontend_style_framework == 'tailwind' -%},
        "bradlc.vscode-tailwindcss"
        {%- endif -%}
    ]
}
