{
    "editor.rulers": [{{ line_width }}],
    "[typescript][javascript][yaml][json][jsonc][toml]": {
        "editor.defaultFormatter": "dbaeumer.vscode-eslint",
        "editor.formatOnSave": true,
        "editor.codeActionsOnSave": {
            "source.fixAll.eslint": "explicit"
        }
    },

    "scss.validate": false,
    "stylelint.validate": ["scss"],
    "[scss]": {
        "editor.defaultFormatter": "stylelint.vscode-stylelint",
        "editor.formatOnSave": true,
        "editor.codeActionsOnSave": {
            "source.fixAll.stylelint": "explicit"
        }
    },
    "[html]": {
        "editor.formatOnSave": true,
        "editor.codeActionsOnSave": {
            "source.fixAll.stylelint": "explicit"
        }
    },

    "eslint.enable": true,
    "eslint.format.enable": true,
    "eslint.lintTask.enable": true,
    "eslint.packageManager": "{{ frontend_toolchain }}",
    "eslint.probe": [
      "typescript",
      "typescriptreact",
      "html",
      "mdx",
      "markdown",
      "json",
      "jsonc",
      "toml",
      "yaml"
    ],
    "eslint.validate": [
      "typescript",
      "typescriptreact",
      "html",
      "mdx",
      "markdown",
      "json",
      "jsonc",
      "toml",
      "yaml"
    ],

    "material-icon-theme.files.associations": {
        "*.gel": "gel",
        "*.gel": "gel",
        "*.tera": "tera",
        "tsconfig.cli.json": "tsconfig",
        "tsconfig.release.json": "tsconfig"
    },

    "material-icon-theme.files.customClones":[
        {
            "name": "angular-ngsw-config",
            "base": "angular",
            "color": "deep-purple-400",
            "fileNames": [
                "ngsw-config.json"
            ]
        },
        {
            "name": "angular-ng-config",
            "base": "angular",
            "color": "deep-purple-400",
            "fileNames": [
                "ng-config.json"
            ]
        },
        {
            "name": "env-production",
            "base": "tune",
            "color": "red-500",
            "fileNames": [
                "_production.ts"
            ]
        },
        {
            "name": "env-development",
            "base": "tune",
            "color": "green-500",
            "fileNames": [
                "_development.ts"
            ]
        },
        {
            "name": "env-staging",
            "base": "tune",
            "color": "amber-500",
            "fileNames": [
                "_staging.ts"
            ]
        },
        {
            "name": "tera",
            "base": "terraform",
            "color": "blue-gray-500",
            "fileNames": [
                "default.tera"
            ]
        },
        {
            "name": "gel",
            "base": "database",
            "color": "yellow-700",
            "fileNames": [
                "default.gel"
            ]
        }
    ],

    "material-icon-theme.folders.associations": {
        "rust": "rust",
        "dbschema": "database",
        "wizard": "terraform"
    }
}
