$schema: "https://moonrepo.dev/schemas/tasks.json"

{%- macro task(name, tpl, note) -%}
  "{{ name }}":
    description: "{{ note }}"
    command: moon generate {{ tpl }} && moon wizard:sync --affected
    toolchain: system
    options:
      interactive: true
      cache: false
{%- endmacro %}

tasks:
  {{ task('add-cmp', 'angular-app', 'Add angular app') }}

  {{ task('add-svc', 'angular-svc', 'Add service') }}

  {{ task('add-pipe', 'angular-pipe', 'Add pipe') }}

  {{ task('add-module', 'angular-module', 'Add module') }}

  {{ task('add-storybook', 'angular-storybook', 'Add storybook') }}
